PORT=4000
DB_HOST=srv629.hstgr.io
DB_PORT=3306
DB_USER=u184056080_technopower
DB_PASSWORD=Onion@123321
DB_NAME=u184056080_technopower
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_STRING
ADMIN_EMAIL=admin@techpoweruae.com
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
FTP_HOST=ftp.amirhost.in
FTP_PORT=21
FTP_USER=u184056080.technopower
FTP_PASSWORD=Onion@123321
FTP_BASE_PATH=technopowerupload
FTP_PUBLIC_URL=https://amirhost.in/technopowerupload/public_html/technopowerupload
CORS_ORIGIN=https://techpower.amirhost.in
PUBLIC_SITE_URL=https://techpower.amirhost.in
